li{
   
    display: inline;
    padding-left: 40%;
}
#p1{
    padding-left: 40%;
}
#p2{
    padding-left: 40%;
}
#p3{
    padding-left: 40%;
}
#pe{
    padding-top: 220px;
}
#pa{
    color: blueviolet;
}
